<div id="plans">
  <h1>geofly.me</h1>
  <div class="plan_description">
<p>Premium links give you the ability to link to outside web sites or to display up to 10 items when your link is clicked.</p>
</div>
  <% @plans.each do |plan| %>
    <div class="plan">
      <div class="name"><%= plan.name %> for only<div class="details">
        <div class="price">
          <%= number_to_currency plan.price, :precision => 0 %>
          /year
        </div>
        </div>
      
      
        
        
        <div class="signup">
        <p>
          <%= link_to "Sign up", new_subscription_path(:plan_id => plan.id),:rel => "external"%>
          </p>
        </div>
    </div>
      </div>
    
    </div>
  <% end %>
  


<div class="clear"></div>
</div>