<h1> Help </h1>

<h2> How does this Site Work? </h2>
<p> Geofly allows you to find Location-specific information,
from a mobile device, laptop or PC, within 20 kilometers of your present location,
without having to use a search engine. Two clicks and you can find info,</p>

<h2> Where does the Data come From?</h2>
<p> At geofly.me, our  Data is Crowd Sourced. People in local communities are able to say what they
want about their businesses or themselves.</p>

<h2>How Do I Paste a Place?</h2>
<p> Login at the Home screen and then "Find" listings near You. Then select "Paste a Place". A window will open
where you can insert a picture of the Place. After submitting the form, the Place will become listed.</p>

<h2>How Do I Paste my Face?</h2>
<p> If you select a Place Listing, by clicking the listing, a small box will appear at the bottom of the
screen labeled "Paste My Face". When you select this button, your Face Profile will be listed at the Place.
The first time you do this, you will be presented with a form to upload a Profile. Keep in mind that You only have One profile
which will be used for all FacePastes; 
however,each way you login will create separate accounts. 
For, example, if you login with Twitter,you can have a profile for that account. Subsequently, 
you can create additional profiles by logging in with Facebook, or by logging in with your email. This gives you 3 different
profiles. Say, One for work, one for play, and One for School. </p>

<h2>What are Premium Listings?</h2>
<p> Premium Listing allow your Place/Face post to link to an external website; or, to include up to 20 items, when clicked.
This is great if you have items you want to sell or to link to any custom data, you may have on your own Site.

Premium Listings are $10/year for individual Place Listings. Face listings, will display the feature in every FacePaste. </p>
Please contact us, if you have any questions.<p>
<a href=mailto:support@geofly.me  data-role="button" data-inline="true" 
   data-theme="d" rel="external" data-mini="true">Support</a></p>


<%= link_to "Back", root_path %>
</p>



