<p> At GeoTag.us, we do not share your information with anyone.
We take privacy seriously. In fact if you login with Twitter or Facebook, we do not even get your
email address, only your username on those services. <p>

Your location services are transmitted to our server, when you select a "Find Button".
</p><p>We do not track you!</p>
The location is posted by you; and in, fact, while you are logged on,
we do not record your location, unless you post it, by Pasting a Place, or; by, Pasting your Face to a Place.
For that matter, the location you post, just suggests where you were,
not necessarily where you are. </p>
<p>
David Overman
</p>
<%= link_to "Back", root_path %>
