// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ui-icon-myapp-90 {
	background-image: url("/test_app/images/90.png");
	}
.ui-icon-myapp-360 {
	background-image: url("/test_app/images/360.png");
	}


.premium{
	color:#009900
;
	}
